<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.seclab.changer">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Change sensitive information used by applications" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

    </application>

</manifest>
